* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-height: 100vh;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-board {
  display: inline-grid;
  background-color: black;
  border: 1px solid black;
  grid-gap: 1px;
}

#game-board > .cell {
  background-color: gray;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}